* {
	box-sizing: border-box;
	overflow: hidden;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
}

.horizontal, .vertical {
	display: flex;
}

.horizontal {
	flex-direction: row;
}
.vertical {
	flex-direction: column;
}
