{#if $connected}
<div class="app">
    <div style="height: 100%;">
        <Chat></Chat>
    </div>
    <div class="networkDiags" class:open="openDiags">
        <button class="openDiags" on:click="set({ openDiags: !openDiags })">{ openDiags ? 'Close' : 'Open' }</button>
        <NetworkDiags></NetworkDiags>
    </div>
</div>
{:else}
<Connect></Connect>
{/if}

<style>
    .app {
        
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
    .networkDiags {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 100%;
        top: 0;
        transition: transform .35s ease;
        background: #eee;
        padding-top: 2rem;
        overflow: visible;
    }
    
    .networkDiags.open {
        transform: translate3d(-100%, 0, 0);
    }
    .networkDiags .openDiags {
        position: absolute;
        left: 0;
        top: 0;
        transform: translate3d(-100%, 0, 0);
    }
    .networkDiags.open .openDiags {
        transform: translate3d(0, 0, 0);
    }
</style>

<script>
    import { AppStore } from './App.store';
    export default {
        store: () => AppStore,
        data: () => ({
            openDiags: false,
        }),
        oncreate() {
            console.log('oncreate');
            this.set({ chats: "abc" });
        },
        methods: {
            handleSend() {
                console.log('handleSend');
            },

        },
        components: {
            Chat: './Chat',
            NetworkDiags: './NetworkDiagz',
            Connect: './Connect',
        }
    };
</script>