<div class="component vertical">

    <input class="setName" placeholder="Set a Node Name" type="text" bind:value="userName" on:blur="onSetUserName()" /><br>
    <div class="chat">
        <div class="rooms">
            {#each chatRooms as [chatRoom, chats]}
            <div class="room" class:active="selectedRoom === chatRoom" on:click="set({ selectedRoom: chatRoom })">{chatRoom}</div>
            {/each}
            
            {#if creatingRoom}
            <input autofocus type="text" bind:value="newRoomId" on:keydown="onCreateRoomKeyup(event)">
            {:else}
            <button on:click="beginCreateRoom()">Create Room</button>
            {/if}
        </div>
        <div class="messages">
            {#each chats as chat}
            <div>{chat}</div>
            {/each}
        </div>
        <div class="input horizontal">
            <input type="text" bind:value="chatMessage" on:keydown="onMessage(event)" />
            <button on:click="sendChat()">Send</button>
        </div>
    </div>
</div>

<style>
    .component {
        height: 100%;
    }
    .setName  { width: 360px; }
    .chat {
        flex: 1;
        display: grid;
        grid-template-rows: 1fr auto;
        grid-template-columns: minmax(100px, 20vw) 1fr;
        gap: 1rem;
        padding: 1.5rem;
    }

    .rooms .room.active {
        background: #ddd;
    }

    .rooms .room {
        cursor: pointer;
        padding: .25rem;
        margin: .25rem 0;
    }

    .messages {
        overflow-y: auto;
        overflow-x: hidden;
    }

    .messages div {
        padding: .25rem;
        margin: .25rem;
        background: #eee;
        overflow: hidden;
        white-space: pre-wrap;
        text-overflow: ellipsis;
    }

    .chat .input {
        grid-column: span 2;
        display: flex;
        align-items: center;
    }
    
    .chat .input input {
        flex: 1;
        padding: .5rem;
        margin-right: .5rem
    }
</style>

<script>
    import { ChatStore } from './chat.store';
    import { UserStore } from './user.store';

    export default {
        data: () => ({
            userName: '',
            chatMessage: '',
            selectedRoom: 'Default Room',
            newRoomId: '',
        }),
        async oncreate() {
            this.set({ userName: await UserStore.whoAmI() });
        },
        store: () => ChatStore,
        computed: {
            chatRooms: ({ $byRoom = new Map() }) => Array.from($byRoom.entries()),
            chats: ({ $byRoom = new Map(), selectedRoom }) => ($byRoom.get(selectedRoom) || []).map(c => c.msg)
        },
        methods: {
            onMessage({ key }) {
                if (key === 'Enter') {
                    this.sendChat();
                }
            },
            sendChat() {
                const msg = this.get().chatMessage.trim();
                if (msg) {
                    ChatStore.sendChat(msg, this.get().selectedRoom);
                    this.set({ chatMessage: '' });
                }
            },
            beginCreateRoom() {
                this.set({ newRoomId: '', creatingRoom: true });
            },
            onCreateRoomKeyup({ key }) {
                if (key === 'Enter') {
                    this.set({ creatingRoom: false });
                    ChatStore.createRoom(this.get().newRoomId);
                }
            },
            onSetUserName() {
                const username = this.get().userName.trim();
                if (username) {
                    UserStore.setUserName(username);
                }
            },
        },
    }
</script>