<div class="vertical">

    <label>
        <h3>Min Connections</h3>
        <input type="number" bind:value=minConnections />
    </label>
    <label>
        <h3>Max Connections</h3>
        <input type="number" bind:value=maxConnections />
    </label>
    <label>
        <h3>Max Data (B/s)</h3>
        <input type="number" bind:value=maxData />
    </label>
    <label>
        <h3>Encoded SwarmKey</h3>
        <input type="text" bind:value=encodedKey />
    </label>
    <label>
        <h3>Listen Address (seperate with a comma)</h3>
        <textarea bind:value=listenAddresses></textarea>
    </label>
    <label>
        <h3>Partitions (seperate with a comma)</h3>
        <textarea bind:value=partitions></textarea>
    </label>
    
    <button on:click="connect()">Connect</button>
</div>

<style>
    .vertical {
        max-width: 768px;
        padding: 0 2rem;
        margin: 0 auto;
    }
</style>

<script>
    import { AppStore } from './App.store';
    import { start } from './libp2p';

    export default {
        store: () => AppStore,
        data: () => ({
            encodedKey: 'L2tleS9zd2FybS9wc2svMS4wLjAvCi9iYXNlMTYvCjJiYzc4Nzg4ZjgxNmVhOTBjNjQwZmY2NDQyOTgwZjcyZDc0ZDEwODcyY2VjZTFiNjUwOWQ3MTRlMzFkYmM3MDM=',
            listenAddresses: window.swarmAddress || '/dns4/guarded-anchorage-63004.herokuapp.com//tcp/443/wss/p2p-webrtc-star',
            minConnections: 3,
            maxConnections: 10,
            maxData: Infinity,
            partitions: '',
        }),
        methods: {
            async connect() {
                this.set({ connecting: true });
                
                await start({
                    ...this.get(),
                    maxData: this.get().maxData || Infinity,
                    listenAddresses: this.get().listenAddresses.split(',').map(s => s.trim()),
                    partitions: (this.get().partitions || 'default').split(','),
                });
                AppStore.set({ connected: true });
            }
        }
    };
</script>