{#if $metrics.global != null}
Sent: {sent} / Received: {received}<br>
{/if}
Peers: {$metrics.peers.length}<br>
<ul>
	{#each $metrics.peers as peer}
		<li>
            {#if peer.name}
                {peer.name}
            {:else}
                {peer.peerId}
            {/if}
            - {peer.latency}ms
            {#if peer.stats}
            - {bytes(peer.stats.snapshot.dataSent.toNumber())} / {bytes(peer.stats.snapshot.dataReceived.toNumber())}
            {/if}
        </li>
	{/each}
</ul>

<script>
    import { AppStore } from './App.store';
    import { UserStore } from './user.store';
    import * as bytes from 'bytes';
    import * as networkdiags from './networkdiags';

    export default {
        store: () => AppStore,
        computed: {
            sent: ({$metrics}) => $metrics.global && bytes($metrics.global.snapshot.dataSent.toNumber()),
            received: ({$metrics}) => $metrics.global && bytes($metrics.global.snapshot.dataReceived.toNumber())
        },
        helpers: {
            bytes,
        },
    }
</script>